html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: flex-start;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    background: linear-gradient(#3ebfcf, #d3f7fc 110%) no-repeat;
    margin: 0;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    margin-top: 12em;
}

.open-chat-button {
    display: inline-block;
    padding: .5em 3em;
    font-size: 26px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    background: #665cac;
    border-radius: 8px;
}

.download-link {
    color: #8367db;
    text-decoration: none;
    white-space: nowrap;
}

.no-viber {
    width: 100%;
    text-align: center;
}
